<!-- Componente de Barra Lateral para o Administrador -->
<div class="sidebar">
    <div class="sidebar-header">
        <img src="../img/logo.png" alt="Hans Services" id="logo-placeholder">
        <h2>Hans Services</h2>
    </div>
    <ul class="sidebar-menu">
        <li data-page="dashboard" class="active">
            <i class="fas fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </li>
        <li data-page="armazens">
            <i class="fas fa-warehouse"></i>
            <span>Armazéns</span>
        </li>
        <li data-page="funcionarios">
            <i class="fas fa-users"></i>
            <span>Funcionários</span>
        </li>
        <li data-page="clientes">
            <i class="fas fa-user-friends"></i>
            <span>Clientes</span>
        </li>
        <li data-page="stock">
            <i class="fas fa-boxes"></i>
            <span>Gerenciamento de Stock</span>
        </li>
        <li data-page="relatorios">
            <i class="fas fa-chart-bar"></i>
            <span>Relatórios</span>
        </li>
        <li data-page="configuracoes">
            <i class="fas fa-cog"></i>
            <span>Configurações</span>
        </li>
    </ul>
    <div class="sidebar-footer">
        <li id="logout">
            <i class="fas fa-sign-out-alt"></i>
            <span>Sair</span>
        </li>
    </div>
</div>
