<!-- Componente de Cabeçalho para o Cliente -->
<div class="header cliente-header">
    <h1 id="page-title">Dashboard</h1>
    <div class="user-info">
        <img src="../img/user.png" alt="Usuário" id="user-avatar-placeholder">
        <div class="user-dropdown">
            <span>Maria Oliveira <i class="fas fa-chevron-down"></i></span>
            <div class="dropdown-content">
                <a href="#" data-page="perfil"><i class="fas fa-user"></i> Perfil</a>
                <a href="#" id="logout-dropdown"><i class="fas fa-sign-out-alt"></i> Sair</a>
            </div>
        </div>
    </div>
</div>
